* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

body * {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 7rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.count {
  display: flex;
  justify-content: space-between;
}

.countdown {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}