* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

body * {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: auto 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--purple);
}

.count {
  display: flex;
  justify-content: space-between;
}

.countdown {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

span {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--light-grey);
}

span.subscribe {
  font-size: 0.875rem;
  font-size: 400;
  color: var(--text-color);
}

.text {
  font-size: 4.5rem;
  font-weight: 400;
  color: var(--black);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

button {
  border-radius: 4px;
  border: 0;
  background-color: var(--purple);
  font-size: 16px;
  color: #FFF;
  width: 160px;
  height: 46px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .image {
    display: none;
  }

  .info h1 {
    font-size: 1.8rem;
    text-align: center;
  }
}